In [18]:
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
#import plotly.offline as offline

In [19]:
plotly.offline.init_notebook_mode(connected=True)

In [20]:
# Load the data
food = pd.read_csv("FAO.csv", encoding = "ISO-8859-1")

### Create Buckets for the Categories

In [21]:
grains = ['Wheat and products','Rice (Milled Equivalent)','Barley and products','Maize and products',
          'Millet and products','Cereals, Other', 'Sorghum and products', 'Oats', 'Rye and products',
         'Cereals - Excluding Beer', 'Infant food']

meat = ['Meat, Aquatic Mammals','Pigmeat', 'Animal fats', 'Offals','Meat', 'Fats, Animals, Raw', 'Offals, Edible']

seafood = ['Aquatic Products, Other','Aquatic Animals, Others','Molluscs, Other', 'Cephalopods','Crustaceans',
          'Marine Fish, Other','Pelagic Fish','Demersal Fish','Fish, Seafood','Freshwater Fish',
          'Meat, Other','Bovine Meat', 'Poultry Meat', 'Mutton & Goat Meat']

dairy = ['Milk - Excluding Butter', 'Eggs', 'Cream', 'Butter, Ghee']

alcohol = ['Beverages, Fermented','Alcoholic Beverages', 'Beverages, Alcoholic', 'Beer','Wine' ]

fruit = ['Plantains','Grapefruit and products','Lemons, Limes and products','Fruits - Excluding Wine',
        'Fruits, Other','Grapes and products (excl wine)', 'Dates', 'Pineapples and products', 
        'Apples and products', 'Bananas', 'Citrus, Other','Oranges, Mandarines', 'Coconuts - Incl Copra']

veggies = ['Aquatic Plants','Pimento','Onions','Soyabeans','Peas','Beans','Vegetables', 'Pulses', 'Vegetables, Other',
          'Tomatoes and products', 'Olives (including preserved)', 'Pulses, Other and products']

root = ['Yams', 'Roots, Other','Sweet potatoes','Cassava and products','Starchy Roots',
       'Potatoes and products']

seed_nut = ['Cottonseed', 'Sunflower seed','Palm kernels','Rape and Mustardseed',
           'Groundnuts (Shelled Eq)','Treenuts','Sesame seed', 'Nuts and products']

oils = ['Ricebran Oil','Palmkernel Oil', 'Coconut Oil','Fish, Liver Oil','Fish, Body Oil','Maize Germ Oil',
       'Oilcrops, Other', 'Vegetable Oils','Oilcrops', 'Oilcrops Oil, Other', 'Olive Oil',
       'Sesameseed Oil', 'Cottonseed Oil', 'Rape and Mustard Oil', 'Palm Oil', 'Sunflowerseed Oil', 
       'Groundnut Oil','Soyabean Oil']

spices_sweetners = ['Sugar non-centrifugal','Spices','Cloves', 'Sugar & Sweeteners','Sugar Crops', 'Spices, Other',
                   'Pepper', 'Honey', 'Sweeteners, Other','Sugar (Raw Equivalent)', 'Sugar beet', 'Sugar cane']

coffee = ['Coffee and products']

tea = ['Tea (including mate)']

cocoa = ['Cocoa Beans and products']

### Apply this to the CSV

In [22]:
food_groups = [grains, meat, seafood, dairy, alcohol, fruit, veggies, root, seed_nut, oils, 
               spices_sweetners, coffee, tea, cocoa]
fg_names = ['grains', 'meat', 'seafood', 'dairy', 'alcohol', 'fruit', 'veggies', 'root', 'seed_nut', 'oils', 
               'spices_sweetners', 'coffee', 'tea', 'cocoa']

for n, fg in enumerate(food_groups):
    for f in fg:
        food['Item'].replace(f,fg_names[n], inplace=True)

In [23]:
food = pd.DataFrame(food.groupby(['Area', 'Area Abbreviation', 'latitude', 'longitude','Item'], as_index=False).sum())

In [24]:
food = pd.DataFrame(food.groupby(['Area', 'Area Abbreviation', 'latitude', 'longitude','Item'], as_index=False).sum())

food["id"] = food.index

food_long = pd.wide_to_long(food, ["Y"], i="id", j="year")

year = food_long.index.get_level_values('year')
food_long["year"] = year

food_long.reset_index(drop=True, inplace=True)

food_long.drop(["Item Code", "latitude", "longitude", "Element Code", "Area Code"], axis=1, inplace=True)

food_long = food_long[["Area", "Area Abbreviation", "year", "Item", "Y"]]
food_long.head()

          Area Area Abbreviation  year           Item    Y
0  Afghanistan               AFG  1961  Miscellaneous  0.0
1  Afghanistan               AFG  1961     Stimulants  4.0
2  Afghanistan               AFG  1961        alcohol  0.0
3  Afghanistan               AFG  1961          cocoa  0.0
4  Afghanistan               AFG  1961         coffee  0.0

### All Categories Added

In [25]:
foodall = pd.DataFrame(food.groupby(['Area', 'Area Abbreviation', 'latitude', 'longitude'], as_index=False).sum())
foodall["Item"] = np.array("all")
foodall.head()

,Area,Area Abbreviation,latitude,longitude,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,...,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,id,Item
0,Afghanistan,AFG,33.94,67.71,166,224695,430576,9481.0,9414.0,9194.0,...,18317.0,19248.0,19381.0,20661.0,21030.0,21100.0,22706,23007,120,all
1,Albania,ALB,41.15,20.17,369,331693,641941,1706.0,1749.0,1767.0,...,6911.0,6744.0,7168.0,7316.0,7907.0,8114.0,8221,8271,376,all
2,Algeria,DZA,28.03,1.66,496,333506,645946,7488.0,7235.0,6861.0,...,51067.0,49933.0,50916.0,57505.0,60071.0,65852.0,69365,72161,632,all
3,Angola,AGO,-11.20,17.87,763,295092,566163,4834.0,4775.0,5240.0,...,28247.0,29877.0,32053.0,36985.0,38400.0,40573.0,38064,48639,888,all
4,Antigua and Barbuda,ATG,17.06,-61.80,936,315344,606541,92.0,94.0,105.0,...,110.0,122.0,115.0,114.0,115.0,118.0,113,119,1144,all

In [26]:
foodall["id"] = foodall.index

foodall_long = pd.wide_to_long(foodall, ["Y"], i="id", j="year")

year = foodall_long.index.get_level_values('year')
foodall_long["year"] = year

foodall_long.reset_index(drop=True, inplace=True)

foodall_long.drop(["Item Code", "latitude", "longitude", "Element Code", "Area Code"], axis=1, inplace=True)

foodall_long = foodall_long[["Area", "Area Abbreviation", "year", "Item", "Y"]]
foodall_long = foodall_long.fillna(0)
foodall_long.head()

                  Area Area Abbreviation  year Item       Y
0          Afghanistan               AFG  1961  all  9481.0
1              Albania               ALB  1961  all  1706.0
2              Algeria               DZA  1961  all  7488.0
3               Angola               AGO  1961  all  4834.0
4  Antigua and Barbuda               ATG  1961  all    92.0

### Append Dataframes

In [27]:
food_final = food_long.append(foodall_long, ignore_index=True, verify_integrity=True)
food_final = food_final.sort_values(["Area", "year"], axis=0)

### Fix Mislabeled Codes

In [28]:
food_final.loc[food_final.Area == 'Bahamas', "Area Abbreviation"] = 'BHS'
food_final.loc[food_final.Area == 'The former Yugoslav Republic of Macedonia', "Area Abbreviation"] = 'MKD'
food_final.loc[food_final.Area == 'China, Taiwan Province of', "Area Abbreviation"] = 'TWN'
food_final.loc[food_final.Area == 'China, Macao SAR', "Area Abbreviation"] = 'MAC'
food_final.loc[food_final.Area == 'China, Hong Kong SAR', "Area Abbreviation"] = 'HKG'

### Export to csv

In [29]:
food_final.to_csv("food_final.csv")